body{
    padding: 0;
    margin: 0;
    transition: background-color 0.5s ;
}
.main{
    padding: 1px;
    width: auto;
    min-height: 50rem;
    max-height: 100vh;
    color: whitesmoke;
    background-color: black;
    transition: background-color 0.5s;

}

.darkmode{
    background-color: #212121;
    box-shadow: 1px -3px 16px 0px green;
}