body{
    padding: 0;
    margin: 0;
    transition: background-color 0.5s ;
}
.main{
    padding: 1px;
    padding-top:5%;
    width: auto;
    min-height: 100vh;
    height: auto;
    transition: background-color 0.5s;

}

.darkmode{
    background-color: #212121;
    box-shadow: 1px -3px 16px 0px green;
}

#theme{
    transition: background-image 1s;
    min-width: 29px;
    min-height: 33px ;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("./images/darkmode.svg");
}



.icon{
    padding:0px 17px;
}

#alert{
display: block;
transition: display 5s;
}

.card{
    margin: auto;
    max-width: 33rem;
}

@media (max-width:1024px) {
    #alert{
        margin-top: 13px;
    }
    .card{
        margin-top: 17px;
    }
    .icon{
        margin: 0%;
        padding: 5px 0px;
    }
}
@media (max-width:768px) {
    #alert{
        margin-top: 33px;
    }
    .card{
        margin-top: 36px;
    }
}
@media (max-width:426px) {
    #alert{
        margin-top: 38px;
    }

    .card{
        margin-top: 40px;
    }
}
@media (min-width:1025px) {
    #alert{
        margin-top: 0px;
    }
}